[Unit]
Description=FastAPI Application Service
After=network.target

[Service]
User=robert
WorkingDirectory=/home/robert/Projects/fast-api-relay
ExecStart=/home/robert/Projects/my_project_env/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
